body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: skyblue;

    }

    #url-shortener {
      text-align: center;
      max-width: 400px;
      margin: auto;
    
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }

    button {
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 15px;
    }

    #shortened-url {
      margin-top: 20px;
      font-weight: bold;
    }